.vs
obj/
bin/
Library/
/*.csproj
/*.sln
Temp/
UserSettings/Layouts/
packages-lock.json
Newtonsoft.Json
Logs/
.vsconfig
boot.config
src/packages
Build/
/Assets/Tests.meta
/UserSettings/Search.settings
